{%load static%}

    <nav class="header__menu">
      <!-- Not Logged In -->
      <!-- <a href="/login.html">
        <img src="./assets/avatar.svg" />
        <p>Login</p>
      </a> -->

      <!-- Logged In -->

  <div class="dropdown-menu">
   
   
<a href="{% url 'login' %}" onclick="showLoader(event, this.href)">
    Login
</a>

<!-- Loading Modal -->
<div id="loaderModal" class="modal">
    <div class="modal-content">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
   
  </div>
</nav>
</div>
</header>
<script src="{ static 'images/script.js'}"></script>

