<!DOCTYPE html>
{% extends 'main.html' %}
{%load static%}

   {% block content %}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        <div class="topics">
          <div class="topics__header">
            <h2>GCI Groups</h2>
          </div>
          <ul class="topics__list">
            <li>
              <a href="{% url 'home' %}"class="active">All <span>{{room_count}}</span></a>
            </li>
            {% for group in topics %}
            <li>
              <!--a href="{% url 'home' %}?q={{group.name}}">{{group.name}}<span>🤍</span></a-->
              <a href="#">{{group.name}}<span>👨‍👩‍👧‍👦</span></a>
            </li>
            {% endfor %}
          </ul>
         
        </div>
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="mobile-menu">
            <form class="header__search"  method="get" action="{% url 'home' %}">
              <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                  <title>search</title>
                  <path
                    d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                  ></path>
                </svg>
                <input type="text" name="q" placeholder="Search Here"/>
              </label>
            </form>
            <div class="mobile-menuItems">
              <a class="btn btn--main btn--pill" href="{% url 'gci' %}">GCI Groups</a>
             
              <a class="btn btn--main btn--pill" href="{% url 'Message'%}">Recent Notices</a>
            
             
              
             
            </div>
          </div>
          <div class="roomList__header">
            <div>
              <h2>GCI WELFARE</h2>
              <p>Get welfare updates here</p>
            </div>
           <div>
   <a class="btn btn--primary" href="{% url 'contributions' 1 %}">
    Updates
</a>
           </div>
 
             {% if user.is_superuser %}
            
            <a class="btn btn--primary" href="{% url 'user_list' %}">Admin</a>
            {%else%}

            {% for room in tips %}
            {% if request.user == room.host %}
           <a class="mpesa-btn" style="margin-left: 4px;" href="{% url 'mpesa' %}">
     M-Pesa
</a>

            {%endif%}
            {%endfor%}
            {%endif%}
        <style>
          .mpesa-btn {
    display: inline-block;
    background: linear-gradient(135deg, #00A651, #008f45);
    color: white;
    padding: 14px 28px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
    box-shadow: 0 5px 15px rgba(0, 166, 81, 0.3);
    transition: all 0.3s ease;
}

.mpesa-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 166, 81, 0.4);
}

.mpesa-btn:active {
    transform: scale(0.98);
}
@media (max-width: 768px) {
    .mpesa-btn {
        width: 39%;       /* button takes full width on small screens */
        padding: 12px 12px;   /* reduce horizontal padding */
        font-size: 12px;   /* keep text readable */
    }
}

/* ================= FOOTER ================= */
footer{
    margin-top:40px;
    background:#051634;
    color:white;
    padding:25px;
    text-align:center;
    font-size:14px;
}

/* ================= TABLET ================= */
@media(max-width:1100px){

    .container{
        grid-template-columns:1fr;
    }
  }
        </style>          
             {% for room in tips %}
             {% if room.host == request.user %}
          </div>
          <div class="roomListRoom">
            <div class="roomListRoom__header">
              <a href="{% url 'index' room.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                  <img src="{% static 'images/avatar.svg'%}" />
                </div>
                <span>{{room.host.username}}</span>
              </a>
              {% if request.user == room.host %}
             <!--<a class="btn btn--main" href="{% url 'deleteRoom'  room.id %}">Delete</a>-->
             <a class="btn btn--main" href="{% url 'updateRoom'  room.id %}">Edit Info</a>
              {%endif%}
              <div class="roomListRoom__actions">
                <span></span>
              </div>
            </div>
            <div class="roomListRoom__content">
              <p>More details click on your profile</p>
              <i><a href="#">If you have any challenge, please do not hesitate to contact our welfare team 
              via 0789592245</a>
              </i><p>
               ({{room.group.name}})
              </p>
            </div>
            <div class="roomListRoom__meta">
              <a href="#" class="roomListRoom__joined">
               
                Updated {{room.updated|timesince}}
              </a>
              <p class="roomListRoom__topic">{{room.name}}</p>
            </div>
            {%endif%}
            {%endfor%}
          </div>
          </div>
          
          
        <!-- Room List End -->

        <!-- Activities Start -->
      
        <div class="activities">
          <div class="activities__header">
            <h2>Contributions Details</h2>
          </div>
          <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
              <a href="profile.html" class="roomListRoom__author">
                <div class="avatar avatar--small">
                  <img src="{% static 'images/avatar.svg'%}" />
                </div>
                <p>
                  
                  <span>GCIWELFARE</span>
                </p>
              </a>
              <div class="roomListRoom__actions">
                <a href="#">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>remove</title>
                    <path
                      d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
            
            <div class="activities__boxContent">
              <p><a href="room.html"></a></p>
              <div class="activities__boxRoomContent">
                <P>For Contributions<br> PAYBILL: <b>4146385</b> <br> NAME: <b>Input your Name</b><br>AMOUNT: <b>Ksh.200 per person</b></P>
              </div>
            </div>
          </div>
         {% for Msg in adm|slice:':1'%}
         {% if request.user == Msg.sender %}
          <div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
              <a href="profile.html" class="roomListRoom__author">
                <div class="avatar avatar--small active">
                  <img src="{% static 'images/avatar.svg'%}" />
                </div>
                <p>
                  {{Msg.sender}}
                  <span>{{Msg.updated|timesince}} ago</span>
                </p>
              </a>
              <div class="roomListRoom__actions">
                <a href="#">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>remove</title>
                    <path
                      d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
           
            
            <div class="activities__boxContent">
              <p>New Message<a href="room.html"></a></p>
              <div class="activities__boxRoomContent">
           {{Msg.body}}
              </div>
            </div>
            {% endif %}
            {%endfor%}
          </div>
        </div>
        <!-- Activities End -->
      </div>
    </main>
    <footer style="background-color:#051634; color:white; padding:40px 20px; font-family:sans-serif;">
<p style="text-align: center;"> 2026 GCIWelfare Management. All rights reserved.</p>

    {% endblock %}
