{% extends 'main.html '%}

{% block content %}
<main class="auth layout">
    <div class="container">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <h3>Sign up</h3>
          </div>
        </div>
        <div class="layout__body">
          <h2 class="auth__tagline">Be part of our Welfare</h2>
<form class="form" method="post" action="#">
    {%csrf_token %}
    {%for field in form%}
    <div class="form__group form__group">
      <label for="room_name">{{field.label}}</label>
      {{field}}
    </div>
    
  {%endfor%}         
<div class="form__action">
  <a class="btn btn--primary" href="{% url 'home' %}">Cancel</a>
  <button class="btn btn--main" input type="submit" value="register">ChangePassword</button>
</div>
</form>

{% endblock%}